<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <form action="/crud_c" method="post" >
        <input type="text" id="txt_id" name="txt_id" placeholder="id">
        <input type="text" id="txt_nit" name="txt_nit" placeholder="nit">
        <input type="text" id="txt_nombres" name="txt_nombres" placeholder="nombres">
        <input type="text" id="txt_apellidos" name="txt_apellidos" placeholder="apellidos">
        <input type="text" id="txt_direccion" name="txt_direccion" placeholder="direccion">
        <input type="text" id="txt_telefono" name="txt_telefono" placeholder="telefono">
        <input type="date" id="txt_fn" name="txt_fn" placeholder="yyyy-mm-dd">
        <button type="submit" id="btn_crear" name="btn_crear" value="crear">Crear</button>
        <button type="submit" id="btn_actualizar" name="btn_actualizar" value="actualizar">actualizar</button>
        <button type="submit" id="btn_borrar" name="btn_borrar" value="borrar">borrar</button>
    </form>
    <table border="1px">
        <thead>
            <th>ID</th>
            <th>nit</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>nacimiento</th>
        </thead>
        <tbody>
            <% resultado.forEach((cliente) => { %>
            <tr>
                <td><%= cliente.id_clientes %></td>
                <td><%= cliente.nit %></td>
                <td><%= cliente.nombres %></td>
                <td><%= cliente.apellido %></td>
                <td><%= cliente.direccion %></td>
                <td><%= cliente.telefono %></td>
                <td><%= cliente.fecha_nacimiento %></td>
            </tr>
            <% }) %>

        </tbody>
    </table>
</body>
</html>